<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fra2mo" >
  <xacro:include filename="$(find ros2_fra2mo)/urdf/fra2mo_base_macro.xacro"/>
  <xacro:include filename="$(find ros2_fra2mo)/urdf/lidar_gazebo_macro.xacro"/> 
  <!-- <xacro:include filename="$(find ros2_fra2mo)/urdf/d435_gazebo_macro.xacro"/> -->
  <xacro:include filename="$(find ros2_fra2mo)/urdf/fra2mo_gripper.urdf.xacro"/>
  
  <xacro:property name="LIDAR" value="True"/>
  <!--<xacro:property name="DEPTH" value="True"/>-->
  
  <!-- Diff Drive Robot Base -->
  <xacro:fra2mo_base/>

  <xacro:fra2mo_gripper parent="base_link"/>

  <!-- LIDAR Sensor--> 
  <xacro:if value="${LIDAR}">
    <xacro:lidar_gazebo_sensor parent="lidar_link"/>
  </xacro:if>

  <!-- RGBD Sensor (D435 Camera) -->
  <!--
  <xacro:if value="${DEPTH}">
    <xacro:d435_gazebo_sensor parent="d435_link" />
  </xacro:if>
  -->

</robot>
